{% extends 'myapp/base.html' %} {%block body%}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="banner">
        <div class="banner-text">
          <h1>ToDo</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Add Task</h4>
      <form class="p-3 shadow" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            placeholder="Enter Task"
          />
        </div>
        <div class="form-group">
          <input type="date" class="form-control" name="date" id="date" />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="priority"
            id="priority"
            placeholder="Enter Task Priority"
          />
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <div class="col-md-6">
      <h4>Tasks to be completed</h4>
      {% for task in task_list %}
      <br>
      {%endfor%}
    </div>
  </div>
</div>
{%endblock%}
